@model Book

<div class="well bs-component">
    <form class="form-horizontal" id="add-book-form">
        <fieldset>

            <div class="form-group-lg" id="group-name">
                <label class="control-label invisible" for="edit-name" id="label-name">Couldn`t be empty!</label>
                <input type="text" class="form-control input-lg" placeholder="Book Name" id="edit-name">
            </div>

            <div class="form-group-lg" id="group-author">
                <label class="control-label invisible" for="edit-author" id="label-author">Couldn`t be empty!</label>
                <input type="text" class="form-control input-lg" placeholder="Book Author" id="edit-author">
            </div>

            <div class="form-group-lg" style="margin-top:25pt">
                <input type="button" id="add-cancel" value="Cancel" class="btn btn-default btn-lg" />
                <input type="button" id="add-submit" value="Confirm" class="btn btn-success btn-lg" style="margin-left:20px;"/>
            </div>

        </fieldset>
    </form>
</div>
