@model Book

<div class="well bs-component">
    <h1>Edit book</h1>

    <form class="form-horizontal" id="edit-book-form">
        <fieldset>

            <div class="form-group-lg hidden" id="group-name">
                <input type="text" class="form-control input-lg" placeholder="Book ID" id="edit-id" value=@Model.BookId>
            </div>

            <div class="form-group-lg" id="group-name">
                <label class="control-label invisible" for="edit-name" id="label-name">Couldn`t be empty!</label>
                <input type="text" class="form-control input-lg" placeholder="Book Name" id="edit-name"  value=@Model.BookName>
            </div>

            <div class="form-group-lg" id="group-author">
                <label class="control-label invisible" for="edit-author" id="label-author">Couldn`t be empty!</label>
                <input type="text" class="form-control input-lg" placeholder="Book Author" id="edit-author"  value=@Model.BookAuthor>
            </div>

            <div class="form-group-lg" style="margin-top:25pt">
                <input type="button" id="edit-cancel" value="Cancel" class="btn btn-default btn-lg" />
                <input type="button" id="edit-submit" value="Confirm" class="btn btn-success btn-lg" style="margin-left:20px;" />
            </div>

        </fieldset>
    </form>
</div>