@model IEnumerable<Book>

<div id="jumbatron ">
    <h1 id="add-button">Add book</h1>
    <div id="add-container" class="extremum-slide-adding">
        @{Html.RenderPartial("AddForm");}
    </div>
</div>
<div id="list-block" class="jumbotron">
    @{Html.RenderPartial("List", Model);}
</div>
<div id="jumbatron ">
    <div id="editing-container" class="extremum-slide">
        @{Html.RenderPartial("EditForm");}
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure to delete the book?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" type="button" data-dismiss="modal">No</button>
                <button class="btn btn-primary js-btn-confirm" type="button" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/events")
