@model IEnumerable<Book>

<div class="row">
    <h1 id="add-button" class="col-lg-12">Add book</h1>
    <div id="add-container" class="extremum-slide-adding  col-lg-12">
        <div id="add-boxes" class="col-lg-12"></div>
    </div>
</div>
<div id="list-block" class="row">
    @{Html.RenderPartial("List", Model);}
</div>
<div class="row">
    <div id="edit-container" class="extremum-slide col-lg-12">
        <div id="edit-boxes" class="col-lg-12"></div>
    </div>
</div>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content hvr-grow-shadow">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                <h3>Are you sure to delete the book?</h3>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default btn-lg" type="button" data-dismiss="modal">No</button>
                <button class="btn btn-success btn-lg js-btn-confirm" type="button" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/bundles/events")
