.extremum-slide-adding {
	display:none;
}

.extremum-slide-adding > div{
	margin-top: -40px;
}

.extremum-slide {
	display:none;
}

.extremum-slide > div{
	margin-top: -40px;
}

.wrong-data {
    border-color:red;
}

.icon {
        height:60px;
        margin:-12px 5px 7px 19px;
        padding:5px 15px -3px 15px;
}