<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Book Shelf</title>
    @Styles.Render("~/Content/css")
    <script type="text/javascript" src="~/Scripts/jquery-1.10.2.min.js"></script>
</head>
<body >
    <div class="container-fluid">
        <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <a class="navbar-brand navbar-link" href="#">
                    <img src="Images/books_icon.png" class="icon">
                        Book shelf
                    </a>
                </div>
        </nav>
        @RenderBody()
        <hr />
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
